<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessorialCode</key>
		<string>COD</string>
		<key>accessorialName</key>
		<string>COD Fee</string>
		<key>accessorialTypeID</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>CONST</string>
		<key>accessorialName</key>
		<string>Construction Site</string>
		<key>accessorialTypeID</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>CONV</string>
		<key>accessorialName</key>
		<string>Convention/Tradeshow</string>
		<key>accessorialTypeID</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>ISDEL</string>
		<key>accessorialName</key>
		<string>Inside Delivery</string>
		<key>accessorialTypeID</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>ISPU</string>
		<key>accessorialName</key>
		<string>Inside Pickup</string>
		<key>accessorialTypeID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>LENGTH</string>
		<key>accessorialName</key>
		<string>Excessive Length</string>
		<key>accessorialTypeID</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>LGDel</string>
		<key>accessorialName</key>
		<string>Liftgate Delivery</string>
		<key>accessorialTypeID</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>LIMACCESS</string>
		<key>accessorialName</key>
		<string>Limited Access</string>
		<key>accessorialTypeID</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>NOTIFY</string>
		<key>accessorialName</key>
		<string>Notify for PU or Delivery</string>
		<key>accessorialTypeID</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>PROTECTFRE</string>
		<key>accessorialName</key>
		<string>Protect from Freezing</string>
		<key>accessorialTypeID</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>ResDel</string>
		<key>accessorialName</key>
		<string>Residential Delivery</string>
		<key>accessorialTypeID</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>ResPick</string>
		<key>accessorialName</key>
		<string>Residential Pickup</string>
		<key>accessorialTypeID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>SORTSEG</string>
		<key>accessorialName</key>
		<string>Sort Segregate</string>
		<key>accessorialTypeID</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>accessorialCode</key>
		<string>SS</string>
		<key>accessorialName</key>
		<string>Single Shipment</string>
		<key>accessorialTypeID</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
