<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scac</key>
		<string>AACT</string>
		<key>imageName</key>
		<string>aact.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>AVRT</string>
		<key>imageName</key>
		<string>avrt.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>BEAV</string>
		<key>imageName</key>
		<string>beav.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>CENF</string>
		<key>imageName</key>
		<string>cenf.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>CTII</string>
		<key>imageName</key>
		<string>ctii.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>DAFG</string>
		<key>imageName</key>
		<string>dafg.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>DHRN</string>
		<key>imageName</key>
		<string>dhrn.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>DUBL</string>
		<key>imageName</key>
		<string>dubl.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>EXLA</string>
		<key>imageName</key>
		<string>exla.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>FXFE</string>
		<key>imageName</key>
		<string>fxfe.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>FXNL</string>
		<key>imageName</key>
		<string>fxnl.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>HMES</string>
		<key>imageName</key>
		<string>hmes.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>MIDW</string>
		<key>imageName</key>
		<string>midw.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>RLCA</string>
		<key>imageName</key>
		<string>rcla.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>RDWY</string>
		<key>imageName</key>
		<string>rdwy.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>SAIA</string>
		<key>imageName</key>
		<string>saia.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>SEFL</string>
		<key>imageName</key>
		<string>sefl.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>SMTL</string>
		<key>imageName</key>
		<string>smtl.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>UPGF</string>
		<key>imageName</key>
		<string>upgf.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>VITR</string>
		<key>imageName</key>
		<string>vitr.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>CNWY</string>
		<key>imageName</key>
		<string>cnwy.png</string>
	</dict>
	<dict>
		<key>scac</key>
		<string>XXXX</string>
		<key>imageName</key>
		<string>xxx.png</string>
	</dict>
</array>
</plist>
