<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>PLT</string>
		<key>handlingUnitTypeDescription</key>
		<string>Pallets (48 x 40)</string>
		<key>handlingUnitTypeID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>PLT</string>
		<key>handlingUnitTypeDescription</key>
		<string>Pallets (48 x 48)</string>
		<key>handlingUnitTypeID</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>PLT</string>
		<key>handlingUnitTypeDescription</key>
		<string>Pallets (Enter Dimensions)</string>
		<key>handlingUnitTypeID</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>BAG</string>
		<key>handlingUnitTypeDescription</key>
		<string>Bags</string>
		<key>handlingUnitTypeID</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>BOX</string>
		<key>handlingUnitTypeDescription</key>
		<string>Boxes</string>
		<key>handlingUnitTypeID</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>BDL</string>
		<key>handlingUnitTypeDescription</key>
		<string>Bunch/Bundle</string>
		<key>handlingUnitTypeID</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>BME</string>
		<key>handlingUnitTypeDescription</key>
		<string>Blister Pack</string>
		<key>handlingUnitTypeID</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>COL</string>
		<key>handlingUnitTypeDescription</key>
		<string>Coils</string>
		<key>handlingUnitTypeID</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>CRT</string>
		<key>handlingUnitTypeDescription</key>
		<string>Crates</string>
		<key>handlingUnitTypeID</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>CYL</string>
		<key>handlingUnitTypeDescription</key>
		<string>Cylinders</string>
		<key>handlingUnitTypeID</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>DRM</string>
		<key>handlingUnitTypeDescription</key>
		<string>Drums</string>
		<key>handlingUnitTypeID</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>PAL</string>
		<key>handlingUnitTypeDescription</key>
		<string>Pails</string>
		<key>handlingUnitTypeID</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>REL</string>
		<key>handlingUnitTypeDescription</key>
		<string>Reels</string>
		<key>handlingUnitTypeID</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>ROL</string>
		<key>handlingUnitTypeDescription</key>
		<string>Rolls</string>
		<key>handlingUnitTypeID</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>TBE</string>
		<key>handlingUnitTypeDescription</key>
		<string>Pipes/Tubes</string>
		<key>handlingUnitTypeID</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>CTN</string>
		<key>handlingUnitTypeDescription</key>
		<string>Cartons</string>
		<key>handlingUnitTypeID</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>CAS</string>
		<key>handlingUnitTypeDescription</key>
		<string>Cases</string>
		<key>handlingUnitTypeID</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>PCS</string>
		<key>handlingUnitTypeDescription</key>
		<string>Pieces</string>
		<key>handlingUnitTypeID</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>TOT</string>
		<key>handlingUnitTypeDescription</key>
		<string>Totes</string>
		<key>handlingUnitTypeID</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>OTH</string>
		<key>handlingUnitTypeDescription</key>
		<string>Other</string>
		<key>handlingUnitTypeID</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>RCK</string>
		<key>handlingUnitTypeDescription</key>
		<string>Rack</string>
		<key>handlingUnitTypeID</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>SKD</string>
		<key>handlingUnitTypeDescription</key>
		<string>Skid</string>
		<key>handlingUnitTypeID</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>handlingUnitTypeCode</key>
		<string>SLP</string>
		<key>handlingUnitTypeDescription</key>
		<string>Slip Sheet</string>
		<key>handlingUnitTypeID</key>
		<integer>158</integer>
	</dict>
</array>
</plist>
